<div class="wrapper">
  <nav class="nav">
    <ul class="nav__list">
      <li
        class="nav__item"
        routerLinkActive="active"
        routerLink="./product"
        [routerLinkActiveOptions]="{exact: true}"
      >Product
      </li>
      <li
        class="nav__item"
        routerLinkActive="active"
        routerLink="./product/add"
      >Add
      </li>
      <li
        class="nav__item"
        routerLinkActive="active"
        routerLink="./product/edit/1">Edit 1 product
      </li>
      <li
        class="nav__item"
        routerLinkActive="active"
        routerLink="./orders">Orders
      </li>
    </ul>
  </nav>
</div>
