<div class="wrapper">
  <h1 #appTitle></h1>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item"
          routerLink="product-list"
          routerLinkActive="active">Products
      </li>
      <li class="nav__item"
          routerLink="cart"
          routerLinkActive="active">Cart
      </li>
      <li class="nav__item"
          routerLink="admin"
          routerLinkActive="active">Products management
      </li>
    </ul>
    <div class="nav__role">
      <p class="current-role">{{role}}</p>
      <button
        (click)="changeRole()"
        mat-raised-button
        color="primary"
        class="toggle-role">Change role
      </button>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

