.nav {
  .nav__list {
    display: flex;

    .nav__item {
      font-size: 20px;
      list-style: none;
      margin-right: 30px;
      cursor: pointer;
    }
  }
}

.active {
  border-bottom: 2px solid red;
}
